.red {
  color: rgb(39, 123, 192);
}

.bold {
  font-weight: bold;
}

.Cockpit button {
  font: inherit;
  border: 1px solid gold;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  background-color: gold;
  color: white;
  transition: 0.3s ease-in-out;
}

.Cockpit button:hover {
  border: 1px solid rgb(73, 73, 72);;
  background-color: rgb(73, 73, 72);
}

.Cockpit button.Selected {
  color: gold;
  background-color: white;
}

.Cockpit button.Selected:hover {
  color: rgb(73, 73, 72);;
}